<div class="login-container">
  <h1 class="login-container__logo"><span>jon</span>Space</h1>
  <span class="error" *ngIf="error">{{ error }}</span>
  <div class="login-container__content">
      <button (click)="loginFb()" id="fb">Login With Facebook</button>
      <button (click)="loginGoogle()" id="google">Login With Google</button>
      <button routerLink="/login-email" id="email">Email</button>
  </div>
  <a routerLink="/signup" routerLinkActive="active" class="alc">No account? <strong>Create one here</strong></a>
</div>
